.wrapper__advantages.advantages(class=advantagesClass)
  .advantages__container
    ul.advantages__list
      li.advantages__item.item-advantages
        img.item-advantages__img(src="img/advantages/van.svg", alt="")
        p.item-advantages__label Безкоштовна доставка
      li.advantages__item.item-advantages
        img.item-advantages__img(src="img/advantages/box.svg", alt="")
        p.item-advantages__label Безкоштовна збірка
      li.advantages__item.item-advantages
        img.item-advantages__img(src="img/advantages/headphones.svg", alt="")
        p.item-advantages__label Післягарантійне обслуговування
      li.advantages__item.item-advantages
        img.item-advantages__img(src="img/advantages/stickers.svg", alt="")
        p.item-advantages__label Знижки клієнтам
