section.main__recent-reviews.recent-reviews
  .recent-reviews__content
    section.recent-reviews__section
      // Heading
      h2.recent-reviews__title.title Останні відгуки
      // Body
      .recent-reviews__shop.shop
        .shop__sticker
          img(src="img/icons/coach.svg", alt="")
        .shop__read
          h3.shop__title Магазин меблів для дому «KROVATO»
          // Rating
          .shop__rating.rating
            .rating__show
              .rating__value 4.0
              // Stars
              .rating__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            p.rating__stats Базовано на відгуках: 269
      // Actions
      .recent-reviews__actions
        a.recent-reviews__button.button(href="#")
          svg.icon
            use(xlink:href="img/icons/symbol-defs.svg#icon-review")
          |
          | Написати відгук
        a.recent-reviews__button.button.button--ghost(href="#")
          svg.icon
            use(xlink:href="img/icons/symbol-defs.svg#icon-chat")
          |
          | Всі відгуки
    .recent-reviews__slider.slider-reviews
      // Slider main container
      .slider-reviews__swiper.swiper
        // Additional required wrapper
        .slider-reviews__wrapper.swiper-wrapper
          // Slides
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Стедниця Анна-Аліна Богданівна
              // Time
              time.card-review__time(datetime="2024-01-27") 27.01.2024
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників.
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
          article.slider-reviews__slide.swiper-slide.card-review
            header.card-review__header
              // Title
              h3.card-review__title Іван Стедниця
              // Time
              time.card-review__time(datetime="2022-01-25") 25.01.2022
              // Avatar
              .card-review__avatar
                //- img(src="img/icons/account.svg", alt="")
              // Stars
              .card-review__stars.stars
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item.stars__item--active
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
                .stars__item
                  svg.icon
                    use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            .card-review__text-group.card-review__text-group--scroll.card-review__text-group.card-review__text-group--scroll--scroll
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
              p Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося контактувати при виборі та купівлі дивана Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            a.card-review__footer.footer-card-review(href="/product.html")
              +picture({class:"footer-card-review__picture", src:"img/card-review/product.jpg", alt: "Білий масивний диван Orange-Line Родео SF "})
              .footer-card-review__title Диван Orange-Line Родео SF з ручним налаштуванням висоти та з автоматичною підсвіткою
      // If we need scrollbar
      .slider-reviews__scrollbar.scrollbar-slider
        .scrollbar-slider__thumb
          svg.icon
            use(xlink:href="img/icons/symbol-defs.svg#icon-scroll")
