div(data-tabs="0")
  ul(data-tabs-control="")
    li
      a#atab-switch-1(href="#atab-1") Tab title 1
    li
      a#atab-switch-2(href="#atab-2") Tab title 2
    li
      a#atab-switch-3(href="#atab-3") Tab title 3
  #atab-1(aria-labelledby="atab-switch-1") Meow, Meow
  #atab-2(aria-labelledby="atab-switch-2")
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
    | cumque, illo adipisci reiciendis tempora dolores et alias minus, fugit unde eos, a optio quos. Amet doloremque
    | cum delectus corporis esse?
  #atab-3(aria-labelledby="atab-switch-3")
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
    | cumque, illo adipisci reiciendis tempora dolores et alias minus, fugit unde eos, a optio quos. Amet doloremque
    | cum delectus corporis esse?
