@use "../../abstracts" as *;

.description-product {
  color: $clr-mine-shaft;

  @include not-last-children {
    margin-block-end: rem(20px);

    @include media-width-from(em($medium)) {
      margin-block-end: rem(30px);
    }
  }

  // .description-product__title

  &__title {
  }

  // .description-product__text-group

  &__text-group {
    @include not-last-children {
      margin-block-end: rem(10px);
    }
  }

  // .description-product__picture

  &__picture {
    img {
      inline-size: 100%;
    }
  }
}
