@use "../../abstracts" as *;

.social-product {
  padding-block: rem(30px);
  background-color: $clr-white;

  @include not-last-children {
    margin-block-end: rem(20px);
  }

  // .social-product__title

  &__title {
    font-weight: $fw-semi-bold;
    font-size: rem(20px);
    line-height: 1.4;
    text-align: center;
  }

  // .social-product__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(15px 30px);
    justify-content: center;
  }

  // .social-product__item

  &__item {
    flex: none;
  }
}
