section.main__fade-block.fade-block
  .fade-block__layout
    .fade-block__text-group
      h1.fade-block__title.title Про нас
      .fade-block__heavy-group
        p Магазин меблів для дому Krovato є дистриб'ютором високоякісних меблів.
      .fade-block__light-group
        p Ми працюємо тільки з провідними виробниками ліжок та матраців, такими як ЕММ, Estella, Метакам, Legko, HighFoam, ArborDrev.
    +picture({class: "fade-block__picture", src: "img/about/blue-chairs-and-palm.png", alt: "Затишні сині крісла та пальма."})
