section.main__group-block.group-block
  .group-block__container
    h2.group-block__title.title KROVATO це
    ul.group-block__list
      li.group-block__item
        section.section-block
          img.section-block__img(src="img/about/check.svg", alt="")
          h3.section-block__title Власне виробництво
          .section-block__text-group
            p Також у нас є своє виробництво, завдяки чому ми можемо виготовити меблі безпосередньо за Вашими побажаннями: нестандартний розмір, висота, виготовлення меблів за Вашим ескізом. Ліжка, тумби, комоди, шафи - все це ми можемо доопрацювати за Вашим бажанням.
      li.group-block__item
        section.section-block
          img.section-block__img(src="img/about/check.svg", alt="")
          h3.section-block__title Професіонали
          .section-block__text-group
            p Наші вироби виготовлені на професійному обладнанні з ясена, вільхи, бука, дуба, металу та ДСП. Фабрики із закритим циклом виробництва – контроль якості кожному етапі: від завезення дерева в цех до складання ліжка в клієнта.
      li.group-block__item
        section.section-block
          img.section-block__img(src="img/about/check.svg", alt="")
          h3.section-block__title Великий вибір
          .section-block__text-group
            p На нашому сайті Ви легко зможете підібрати собі спальню, вітальню або дитячу кімнату "під ключ". Величезний вибір матраців, ліжок, а також тумбочок та комодів чекають на Вас.
      li.group-block__item
        section.section-block
          img.section-block__img(src="img/about/check.svg", alt="")
          h3.section-block__title Контроль якості
          .section-block__text-group
            p Наші досвідчені менеджери, з радістю допоможуть підібрати Вам меблі, які Вас радуватимуть довгі роки.
            p Завдяки власній службі доставки та збирання, ми підтримуємо контроль якості від виробництва до клієнта.
