section.main__delivery.delivery.delivery--fancy
  .delivery__container
    .delivery__body
      .delivery__stack.stack-delivery
        h2.stack-delivery__title.title Доставка по Україні:
        ul.stack-delivery__list
          li.stack-delivery__item
            | Доставка по Україні здійснюється за рахунок клієнта на відділення або адресно клієнту перевізником: "Нової Пошти, Міст експрес, Автолюкс".
          li.stack-delivery__item
            | Металеві ліжка доставляють за межі Київської області "Новою поштою" адресно за рахунок клієнта (орієнтовна вартість доставки 250-300 грн).
          li.stack-delivery__item
            | "Додаткова" відправка, наприклад (ящиків, тумб або комода) оплачується клієнтом.
        .stack-delivery__group
          p Послуга «Податковий платіж» – (оплата при отриманні замовлення), додатково до вартості замовлення оплачується +1.5-2% за послугу післяплати, залежно від обраного оператора вантажоперевезень.
          p Послуга «Утилізація старих меблів» – розраховується, виходячи з габаритів меблів або матраца і становить від 50 до 400грн. Додатково оплачується винесення меблів згідно з тарифами, на занесення товару.
      .delivery__display.display-delivery
        +picture({class: "display-delivery__picture", src: "img/delivery/ukraine.png ", alt: "Мапа України"})
        aside.display-delivery__frame.frame-delivery
          p При відправленні товару по Україні, акції: (занесення безкоштовно, наматрацник у подарунок, безкоштовне складання) не діють.
    .delivery__group
      p * В усіх випадках зазначена вартість доставки до під'їзду (воріт приватного будинку). У базову вартість доставки не входить вартість занесення меблів. Занесення товару на поверх/у квартиру здійснюється за домовленістю за окрему оплату.
      p ** додаткове упакування товару оплачується клієнтом у будь-якому випадку! Увага! Вартість доставки вказана до парадного будинку (воріт приватного будинку) і не враховує занесення товару. Занесення товару здійснюється за домовленістю за окрему оплату згідно з тарифами, на занесення товару.
