section.main__delivery.delivery
  .delivery__container
    .delivery__body
      .delivery__stack.stack-delivery
        h2.stack-delivery__title.title Доставка по Києву та Київській області:
        ul.stack-delivery__list
          li.stack-delivery__item
            | Доставка ліжка чи матраца від 6000 грн. по Києву безкоштовна .
          li.stack-delivery__item
            | У доставку входить підйом на поверх ліфтом та занесення до квартири (занесення сходами оплачується додатково)
          li.stack-delivery__item
            | Доставка дивана до під'їзду по Києву безкоштовна.
        .stack-delivery__group
          p Доставка так само безкоштовна у: Вишневе, Петропавлівська Борщагівка, Софіївська Борщагівка, Новосілки, Чайки, Коцюбинське
          p Доставка у міста: Вишгород - 200 грн, Бровари - 250 грн, Бориспіль - 300 грн, Ірпінь - 200 грн, Буча - 250 грн, Гостомель - 300 грн
      .delivery__display.display-delivery
        +picture({class: "display-delivery__picture", src: "img/delivery/kyiv.png ", alt: "Мапа Києва"})
        aside.display-delivery__frame.frame-delivery
          p Доставка далі 5-ти км. від КП Києва платна та становить 16 грн. за 1 км.
          p.frame-delivery__small При покупці на суму до 6000 грн. доставка по Києву оплачується замовником у розмірі 250 грн
