section.main__fade-block.fade-block
  .fade-block__layout
    .fade-block__text-group
      h1.fade-block__title.title Доставка та збірка
      .fade-block__heavy-group
        p Доставка онлайн замовлень по всій Україні.
      .fade-block__light-group
        p Робимо доставку власним транспортом та в усі працюючі відділення Нової Пошти. Оплата доставки і збірки здійснюється в момент отримання товару.
    +picture({class: "fade-block__picture", src: "img/delivery/package.png", alt: "Обережно поводимося з товаром."})
