section.main__faq.faq
  .faq__container
    h2.faq__title.title У вас все ще залишилися питання?
    .faq__accordion.accordion-faq(data-ac, data-ac-mode="single")
      section.accordion-faq__panel(data-ac-panel)
        h3.accordion-faq__title
          button.accordion-faq__trigger.trigger-faq(
            type="button",
            data-ac-trigger
          )
            svg.trigger-faq__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-question")
            |
            | Як повернути або обміняти замовлення
            |
            svg.trigger-faq__state.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
        .accordion-faq__content(data-ac-content, hidden)
          div
            .accordion-faq__body
              p Односпальне ліжко — оптимальний варіант для сну однієї людини. Вироби представлені в декількох стандартних розмірах по ширині: 80-90, рідше — 100 сантиметрів.
              p Полуторні ліжка нагадують односпальні, але зі збільшеною шириною — в середньому 120-140 сантиметрів. Меблі підійдуть для одиночного сну людям з великою статурою або для худорлявої пари.
              p Двоспальне місце для сну відрізняється простором і комфортом для двох дорослих, а також сімей, в яких діти люблять засинати разом з батьками. Ширина ліжка — від 160 см при стандартній довжині, а в розмірі king size — понад 200 см.
      section.accordion-faq__panel(data-ac-panel)
        h3.accordion-faq__title
          button.accordion-faq__trigger.trigger-faq(
            type="button",
            data-ac-trigger
          )
            svg.trigger-faq__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-question")
            |
            | Чи можна повернути/обміняти товар, якщо втрачено чек?
            |
            svg.trigger-faq__state.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
        .accordion-faq__content(data-ac-content, hidden)
          div
            .accordion-faq__body
              p Ми постараємося Вам допомогти, навіть якщо відповідно до закону України Про захист прав споживачів, при поверненні Покупцем товару або відмові від наданої послуги продавцю подається заява про повернення коштів, до якого обов`язково додається квитанція, товарний або касовий чек, рахунок (розрахунковий документ), який підтверджує покупку товару (надання послуги). У нвс ведеться облік всіх замовлень, тому клієнту достатньо знати номер замовлення, написати заяву і надати дані на кого був оформлений замовлення, що б ми могли ідентифікувати покупку
      section.accordion-faq__panel(data-ac-panel)
        h3.accordion-faq__title
          button.accordion-faq__trigger.trigger-faq(
            type="button",
            data-ac-trigger
          )
            svg.trigger-faq__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-question")
            |
            | В який термін будуть повернуті гроші?
            |
            svg.trigger-faq__state.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
        .accordion-faq__content(data-ac-content, hidden)
          div
            .accordion-faq__body
              p Односпальне ліжко — оптимальний варіант для сну однієї людини. Вироби представлені в декількох стандартних розмірах по ширині: 80-90, рідше — 100 сантиметрів.
              p Полуторні ліжка нагадують односпальні, але зі збільшеною шириною — в середньому 120-140 сантиметрів. Меблі підійдуть для одиночного сну людям з великою статурою або для худорлявої пари.
              p Двоспальне місце для сну відрізняється простором і комфортом для двох дорослих, а також сімей, в яких діти люблять засинати разом з батьками. Ширина ліжка — від 160 см при стандартній довжині, а в розмірі king size — понад 200 см.
      section.accordion-faq__panel(data-ac-panel)
        h3.accordion-faq__title
          button.accordion-faq__trigger.trigger-faq(
            type="button",
            data-ac-trigger
          )
            svg.trigger-faq__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-question")
            |
            | Чи можна повернути кошти на іншу карту?
            |
            svg.trigger-faq__state.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
        .accordion-faq__content(data-ac-content, hidden)
          div
            .accordion-faq__body
              p Односпальне ліжко — оптимальний варіант для сну однієї людини. Вироби представлені в декількох стандартних розмірах по ширині: 80-90, рідше — 100 сантиметрів.
              p Полуторні ліжка нагадують односпальні, але зі збільшеною шириною — в середньому 120-140 сантиметрів. Меблі підійдуть для одиночного сну людям з великою статурою або для худорлявої пари.
              p Двоспальне місце для сну відрізняється простором і комфортом для двох дорослих, а також сімей, в яких діти люблять засинати разом з батьками. Ширина ліжка — від 160 см при стандартній довжині, а в розмірі king size — понад 200 см.
