section.main__promo-delivery.promo-delivery
  .promo-delivery__container
    h2.promo-delivery__title.title Акції доставки
    ul.promo-delivery__list
      li.promo-delivery__item.item-promo-delivery
        .item-promo-delivery__frame.round-frame.round-frame--size--sm
          img.round-frame__img(src="img/delivery/star.svg", alt="")
        .item-promo-delivery__text
          | При покупці ліжка з матрацом більше 7000 грн. (вартість матрацу) занесення ліфтом та складання БЕЗКОШТОВНО *
      li.promo-delivery__item.item-promo-delivery
        .item-promo-delivery__frame.round-frame.round-frame--size--sm
          img.round-frame__img(src="img/delivery/star.svg", alt="")
        .item-promo-delivery__text
          | При покупці ліжка з матрацом більше 10000 грн. знижка 5% на матрац + доставка, занесення ліфтом та складання БЕЗКОШТОВНО *
      li.promo-delivery__item.item-promo-delivery
        .item-promo-delivery__frame.round-frame.round-frame--size--sm
          img.round-frame__img(src="img/delivery/star.svg", alt="")
        .item-promo-delivery__text
          | Купуючи матрац від 7000 грн. доставка та занесення БЕЗКОШТОВНО *
      li.promo-delivery__item.item-promo-delivery
        .item-promo-delivery__frame.round-frame.round-frame--size--sm
          img.round-frame__img(src="img/delivery/star.svg", alt="")
        .item-promo-delivery__text
          | Купуючи матрац від 10000 грн. доставка та занесення БЕЗКОШТОВНО * + знижка 5% на матрац
      li.promo-delivery__item.item-promo-delivery
        .item-promo-delivery__frame.round-frame.round-frame--size--sm
          img.round-frame__img(src="img/delivery/star.svg", alt="")
        .item-promo-delivery__text
          | При покупці столу та 2-х стільців доставка та занесення БЕЗКОШТОВНО *
    .promo-delivery__subtext
      p * Під покупкою ліжка з матрацом до суми "N" - мається на увазі ціна за матрац. ** Занесення відбувається ліфтом (по сходах занесення платне)
      p * В акції не беруть участь ліжка з вбудованим матрацом. * Знижка на матраци ТМ Сонлайн не сумується з іншими акціями.
