.main__tables.tables
  .tables__container
    section.tables__section
      h2.tables__title.subtitle Складання
      table.tables__table.table
        tbody.table__group
          tr.table__row
            td.table__cell
              span Складання звичайного ліжка
            td.table__cell
              span 300 грн
          tr.table__row
            td.table__cell
              span Складання ліжка з вбудованим матрацом
            td.table__cell
              span 350 грн
          tr.table__row
            td.table__cell
              span Складання ліжка з підйомним механізмом
            td.table__cell
              span 500 грн
          tr.table__row
            td.table__cell
              span Складання прямого дивана
            td.table__cell
              span 150 грн
          tr.table__row
            td.table__cell
              span Складання кутового дивана
            td.table__cell
              span 200 грн
          tr.table__row
            td.table__cell
              span Складання комода
            td.table__cell
              span 250 грн
          tr.table__row
            td.table__cell
              span Складання приліжкової тумби
            td.table__cell
              span 150 грн
          tr.table__row
            td.table__cell
              span Складання столу
            td.table__cell
              span 250 грн
    section.tables__section
      h2.tables__title.title Занесення
      table.tables__table.table
        thead.table__group
          tr.table__row.table__row--head
            th.table__cell
              span Послуга
            th.table__cell
              span Є ліфт
            th.table__cell
              span Ліфта немає/не працює/ щось не міститься
        tbody.table__group
          tr.table__row
            td.table__cell
              span Занесення однієї підйомної одиниці* ліжка (1 коробка)
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 30 грн/поверх
          tr.table__row
            td.table__cell
              span Занесення матраца
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 30 грн/поверх
          tr.table__row
            td.table__cell
              span Занесення каркаса ліжка (у зібраному вигляді)
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 30 грн/поверх
          tr.table__row
            td.table__cell
              span Занесення прямого дивана**
            td.table__cell
              span 150 грн
            td.table__cell
              span 30 грн/поверх (за 1 підйомну одиницю)
          tr.table__row
            td.table__cell
              span Занесення кутового дивана
            td.table__cell
              span 200 грн
            td.table__cell
              span 30 грн/поверх (за 1 підйомну одиницю)
          tr.table__row
            td.table__cell
              span Занесення комода
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 50 грн
          tr.table__row
            td.table__cell
              span Занесення тумби
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 10 грн
          tr.table__row
            td.table__cell
              span Занесення стільця
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 15 грн
          tr.table__row
            td.table__cell
              span Занесення столу
            td.table__cell
              span Безкоштовно
            td.table__cell
              span 50 грн
      .tables__text
        p * Занесення великогабаритних деталей, довжина яких перевищує 160*90см або вага перевищує 20кг коштує 30грн/поверх.
        p ** Занесення дивана, що складається з 1 підйомної одиниці 70 грн/поверх без ліфта.
        p *** За відсутності вільного під'їзду до парадного, служба доставки самостійно розраховує вартість занесення до дверей.
