section.main__fade-block.fade-block
  .fade-block__layout
    .fade-block__text-group
      h1.fade-block__title.title Оплата товару
      .fade-block__heavy-group
        p Клієнти Krovato можуть в один клік провести оплату товару на сайті.
      .fade-block__light-group
        p Оплата готівкою при отриманні товару, за безготівковим розрахунком, оплата замовлення онлайн банківською картою Visa або MasterCard або кредит - у нас можливо все!
    +picture({class: "fade-block__picture", src: "img/payment/money-hand.png", alt: "Паперові гроші, монети, кредитки."})
