section.main__group-block.group-block
  .group-block__container
    h2.group-block__title.title Оплата по Києву:
    ul.group-block__list
      li.group-block__item
        section.section-block
          .round-frame
            img.round-frame__img(src="img/payment/terminal.svg", alt="")
          h3.section-block__title Через термінал
          .section-block__text-group
            p Ви можете оплатити Ваше замовлення карткою на нашій виставці за адресою: пров. Ізяславський 52, поверх 2
      li.group-block__item
        section.section-block
          .round-frame
            img.round-frame__img(src="img/payment/card.svg", alt="")
          h3.section-block__title На карту ПриватБанку
          .section-block__text-group
            p Ви можете це зробити через термінал самообслуговування, або Приват24.
      li.group-block__item
        section.section-block
          .round-frame
            img.round-frame__img(src="img/payment/contract.svg", alt="")
          h3.section-block__title Безготівкова
          .section-block__text-group
            p Оплата проводиться в касі відділення будь-якого банку або з розрахункового рахунку Вашої фірми.
      li.group-block__item
        section.section-block
          .round-frame
            img.round-frame__img(src="img/payment/money.svg", alt="")
          h3.section-block__title Післяплатою
          .section-block__text-group
            p Оплата готівкою безпосередньо при отриманні і перевірці товару від кур'єра.
