.main__stack-block.stack-block
  .stack-block__container
    ul.stack-block__list
      li.stack-block__item
        .stack-block__group
          h2.stack-block__title Оплата по Україні
          .stack-block__text
            p Доставка по Україні здійснюється Новою Поштою. Ви можете оплатити Ваше замовлення при отриманні післяплатою. Вартість післяплати 35грн +1-2% від суми.
            p Також Ви можете оплатити Ваше замовлення на карту ПриватБанку, перед відправкою замовлення Вам.
        .stack-block__decor.round-frame
          img.round-frame__img(src="img/payment/ukraine.svg", alt="")
      li.stack-block__item
        .stack-block__group
          h2.stack-block__title Кредит\Розстрочка
          .stack-block__text
            p На нашій виставці, ви можете оплатити Ваше замовлення за допомогою сервісів ПриватБанку "Миттєва Розстрочка" та "Оплата частинами", з мінімальними відсотками.
        .stack-block__decor.round-frame
          img.round-frame__img(src="img/payment/credit.svg", alt="")
      li.stack-block__item
        .stack-block__group
          h2.stack-block__title Передплата
          .stack-block__text
            p У зв'язку з частими випадками замовлень "клієнтами", які не збираються забирати їх керівництвом, було прийнято рішення про введення, мінімальної передоплати 20% (на стандартні замовлення). Залишок суми (80%) Ви оплачуєте при отриманні за фактом складання.
            p На нестандартні та великі замовлення передоплата 50%. На нестандартні матраци передплата 100%.
        .stack-block__decor.round-frame
          img.round-frame__img(src="img/payment/done.svg", alt="")
