.reviews__navigation.navigation
  .navigation__group
    button.navigation__button.navigation__button--rotate--90.button-square(
      type="button"
    )
      svg.icon
        use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
    ol.navigation__list
      li.navigation__item
        button.navigation__button.button-square.button-square--active(
          type="button"
        ) 1
      li.navigation__item
        button.navigation__button.button-square(type="button") 2
      li.navigation__item
        button.navigation__button.button-square(type="button") 3
      li.navigation__item
        button.navigation__button.button-square(type="button") 4
      li.navigation__item
        button.navigation__button.button-square(type="button") 5
      li.navigation__item
        button.navigation__button.button-square(type="button") 6
      li.navigation__item
        button.navigation__button.button-square(type="button") 7
      li.navigation__item
        button.navigation__button.button-square(type="button") ...
      li.navigation__item
        button.navigation__button.button-square(type="button") 18
    button.navigation__button.navigation__button--rotate--270.button-square(
      type="button"
    )
      svg.icon
        use(xlink:href="img/icons/symbol-defs.svg#icon-arrow")
  button.navigation__more.button(type="button")
    svg.icon
      use(xlink:href="img/icons/symbol-defs.svg#icon-reload")
    |
    | Показати ще відгуки
