section.l-mix-product__description.description-product
  h2.description-product__title.subtitle Опис товару
  .description-product__text-group.base-font
    p Модель МК-1 – це ліжко від українського виробника, компанії MegaMebli. Вона виготовляється з ДСП та оснащена м'якою спинкою. Також може бути виготовлена з дерев'яного щита (сосни). Ламелі виконані з бука. Подібна конструкція характеризується надійністю та привабливим зовнішнім виглядом.
  +picture({class: "description-product__picture", src: "img/product/palette.jpg", alt: "Палітра кольорів.", height: "569"})
