.main__features.features
  .features__container
    ul.features__list
      li.features__item
        .features__group
          h2.features__title Доставка
          p.features__text Доставка по Києву або по всій Україні
          a.features__link.link(href="#") Детальніше
            |
            |
            svg.link__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-side")
        .features__decor
          img(src="img/features/pin.svg", alt="")
      li.features__item
        .features__group
          h2.features__title Оплата
          p.features__text Карткою на сайті, готівкою або через термінал
          a.features__link.link(href="#") Детальніше
            |
            |
            svg.link__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-side")
        .features__decor
          img(src="img/features/money.svg", alt="")
      li.features__item
        .features__group
          h2.features__title Гарантія
          p.features__text Гарантія від виробника до 2 років
          a.features__link.link(href="#") Детальніше
            |
            |
            svg.link__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-side")
        .features__decor
          img(src="img/features/warranty.svg", alt="")
      li.features__item
        .features__group
          h2.features__title Підтримка
          p.features__text Безкоштовна консультація по вибору товара
          a.features__link.link(href="#") Детальніше
            |
            |
            svg.link__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-side")
        .features__decor
          img(src="img/features/callout.svg", alt="")
