section.l-mix-product__specs.specs-product
  h2.specs-product__title.subtitle Характеристики
  .specs-product__table.table-specs
    table.table-specs__inner
      tbody.table-specs__group
        tr.table-specs__row
          td.table-specs__cell
            span Довжина (см)
          td.table-specs__cell
            span 210, 200
        tr.table-specs__row
          td.table-specs__cell
            span Ширина (см)
          td.table-specs__cell
            span 132
        tr.table-specs__row
          td.table-specs__cell
            span Висота (см)
          td.table-specs__cell
            span 105
        tr.table-specs__row
          td.table-specs__cell
            span Ширина спального місця (см)
          td.table-specs__cell
            span 120
        tr.table-specs__row
          td.table-specs__cell
            span Довжина спального місця (см)
          td.table-specs__cell
            span 200, 190
        tr.table-specs__row
          td.table-specs__cell
            span Розмір спального місця
          td.table-specs__cell
            span 120x200, 120x190
        tr.table-specs__row
          td.table-specs__cell
            span Колір
          td.table-specs__cell
            span Під замовлення
        tr.table-specs__row
          td.table-specs__cell
            span Форма
          td.table-specs__cell
            span Прямокутний
        tr.table-specs__row
          td.table-specs__cell
            span Кількість ламелей
          td.table-specs__cell
            span 36
        tr.table-specs__row
          td.table-specs__cell
            span Основа під матрац
          td.table-specs__cell
            span ламіль
